.vs/
*.dll
*.pdb
*.cache
*.targets
Features/obj/
Features.Tests/obj/
Features.Tests/bin/
Demo.Tests/bin/
Demo.Tests/obj/
Demo/bin/
Demo/obj/
Features/bin/
Features.Tests/Properties/
02 - TDD/tests/NerdStore.Vendas.Application.Tests/bin/
02 - TDD/tests/NerdStore.Vendas.Application.Tests/obj/
02 - TDD/tests/NerdStore.Vendas.Domain.Tests/bin/
02 - TDD/src/NerdStore.Vendas.Domain/obj/
02 - TDD/tests/NerdStore.Vendas.Domain.Tests/obj/
02 - TDD/src/NerdStore.Vendas.Domain/bin/
02 - TDD/src/NerStore.Core/obj/
02 - TDD/src/NerStore.Core/bin/
02 - TDD/src/NerdStore.Vendas.Data/obj/
02 - TDD/src/NerdStore.Vendas.Application/obj/
02 - TDD/src/NerdStore.Vendas.Application/bin/
02 - TDD/src/NerdStore.Vendas.Data/bin/
